@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome To the Questionneir project <br /> please, Log in to see and add quesion</p>
</div>
