@model QuestionnaireFirstTry.Models.RoleViewModel

@{
    ViewData["Title"] = "Create";
    var allClaims = ViewBag.Claims as List<ClaimModel>;
}

<h1>Create</h1>

<h4>RoleViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if(allClaims != null)
                {
                    <ul class="list-group">
                    @foreach (var claim in allClaims)
                    {
                        <li class="ml-5">
                            <input id="@(claim.Type)" name="Claims" type="checkbox" value="@(claim.Type)"  class="form-check-input me-1" />
                            @(claim.Type)
                        </li>
                    }
                </ul>
                }
                

            </div>
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
